In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2022-05-06 04:10:32,-21.2078,-159.7750,82.45,74,96,3.44
1,1,Sabang,ID,2022-05-06 04:15:05,5.8933,95.3214,80.85,81,100,14.76
2,2,Celestun,MX,2022-05-06 04:15:06,20.8667,-90.4000,84.34,66,16,12.39
3,3,Castro,BR,2022-05-06 04:15:07,-24.7911,-50.0119,53.20,95,3,2.28
4,4,Gat,IL,2022-05-06 04:15:07,31.6100,34.7642,63.28,100,73,12.10

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# heatmap of percent cloudiness 

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps. heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data 

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# heatmap of percent cloudiness 

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps. heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data 

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2022-05-06 04:10:32,-21.2078,-159.7750,82.45,74,96,3.44
1,1,Sabang,ID,2022-05-06 04:15:05,5.8933,95.3214,80.85,81,100,14.76
2,2,Celestun,MX,2022-05-06 04:15:06,20.8667,-90.4000,84.34,66,16,12.39
5,5,Mirabad,AF,2022-05-06 04:15:08,30.4362,61.8383,89.85,11,1,3.44
6,6,Harper,LR,2022-05-06 04:15:09,4.3750,-7.7169,79.63,86,54,2.95
7,7,Aksu,CN,2022-05-06 04:15:09,41.1231,80.2644,82.87,17,43,2.53
9,9,Rikitea,PF,2022-05-06 04:15:11,-23.1203,-134.9692,77.99,85,63,16.51
16,16,Victoria,HK,2022-05-06 04:12:17,22.2855,114.1577,85.96,69,11,13.00
17,17,Nha Trang,VN,2022-05-06 04:15:16,12.2500,109.1833,86.00,68,89,8.37
18,18,Bambous Virieux,MU,2022-05-06 04:15:16,-20.3428,57.7575,77.25,83,75,19.57

In [20]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Avarua      CK     82.45 -21.2078 -159.7750
1            Sabang      ID     80.85   5.8933   95.3214
2          Celestun      MX     84.34  20.8667  -90.4000
5           Mirabad      AF     89.85  30.4362   61.8383
6            Harper      LR     79.63   4.3750   -7.7169
7              Aksu      CN     82.87  41.1231   80.2644
9           Rikitea      PF     77.99 -23.1203 -134.9692
16         Victoria      HK     85.96  22.2855  114.1577
17        Nha Trang      VN     86.00  12.2500  109.1833
18  Bambous Virieux      MU     77.25 -20.3428   57.7575

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng            Hotel Name
0            Avarua      CK     82.45 -21.2078 -159.7750          Paradise Inn
1            Sabang      ID     80.85   5.8933   95.3214           Hotel Citra
2          Celestun      MX     84.34  20.8667  -90.4000          Posada Lilia
5           Mirabad      AF     89.85  30.4362   61.8383
6            Harper      LR     79.63   4.3750   -7.7169           Screensaver
7              Aksu      CN     82.87  41.1231   80.2644  Pudong Holiday Hotel
9           Rikitea      PF     77.99 -23.1203 -134.9692       People ThankYou
16         Victoria      HK     85.96  22.2855  114.1577    Mini Hotel Central
17        Nha Trang      VN     86.00  12.2500  109.1833    Hanoi Golden Hotel
18  Bambous Virieux      MU     77.25 -20.3428   57.7575        Casa Tia Villa

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))