## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
os.getcwd()

'c:\\Users\\carml\\Desktop\\Data Analytics Boot Camp\\API\\World_Weather_Analysis\\Vacation_Search'

In [14]:
os.listdir(os.getcwd())

['.ipynb_checkpoints', 'config.py', 'Vacation_Search.ipynb', '__pycache__']

In [21]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Rio Gallegos,AR,-51.6226,-69.2181,59.05,36,0,26.46,clear sky
1,Bafq,IR,31.6128,55.4107,73.49,41,86,11.14,overcast clouds
2,Gouyave,GD,12.1646,-61.7296,83.17,74,20,17.27,few clouds
3,Aksarka,RU,66.5606,67.7975,19.69,95,55,7.56,broken clouds
4,Saint-Philippe,RE,-21.3585,55.7679,71.19,83,31,11.41,scattered clouds

In [22]:
city_data_df.dtypes

City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 89

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
     (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Bafq,IR,31.6128,55.4107,73.49,41,86,11.14,overcast clouds
2,Gouyave,GD,12.1646,-61.7296,83.17,74,20,17.27,few clouds
4,Saint-Philippe,RE,-21.3585,55.7679,71.19,83,31,11.41,scattered clouds
5,Vaini,TO,-21.2000,-175.2000,73.56,88,75,10.36,broken clouds
8,Asmar,AF,35.0333,71.3581,74.93,27,0,8.70,clear sky

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   283
Country                283
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how="any")

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bafq,IR,73.49,overcast clouds,31.6128,55.4107,
2,Gouyave,GD,83.17,few clouds,12.1646,-61.7296,
4,Saint-Philippe,RE,71.19,scattered clouds,-21.3585,55.7679,
5,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,
8,Asmar,AF,74.93,clear sky,35.0333,71.3581,
9,Rikitea,PF,77.54,broken clouds,-23.1203,-134.9692,
12,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,
13,Lorengau,PG,82.18,broken clouds,-2.0226,147.2712,
17,Cairns,AU,76.95,scattered clouds,-16.9167,145.7667,
25,Georgetown,MY,84.13,few clouds,5.4112,100.3354,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame

    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    params["location"] = f"{lat},{lng}"

   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bafq,IR,73.49,overcast clouds,31.6128,55.4107,Alamdar Hotel
2,Gouyave,GD,83.17,few clouds,12.1646,-61.7296,Rumboat Retreat
4,Saint-Philippe,RE,71.19,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Asmar,AF,74.93,clear sky,35.0333,71.3581,COP Monti
9,Rikitea,PF,77.54,broken clouds,-23.1203,-134.9692,People ThankYou
12,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Lorengau,PG,82.18,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Cairns,AU,76.95,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
25,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang

In [82]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[(hotel_df["Hotel Name"]!='')]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bafq,IR,73.49,overcast clouds,31.6128,55.4107,Alamdar Hotel
2,Gouyave,GD,83.17,few clouds,12.1646,-61.7296,Rumboat Retreat
4,Saint-Philippe,RE,71.19,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Asmar,AF,74.93,clear sky,35.0333,71.3581,COP Monti
...,...,...,...,...,...,...,...
677,Laibin,CN,72.81,overcast clouds,23.7000,109.2667,GreenTree Alliance Laibin Railway Station Hotel
678,Pasighat,IN,73.90,scattered clouds,28.0667,95.3333,Siang Guest House
680,Mercedes,AR,76.86,scattered clouds,-34.6515,-59.4307,Posada del Inti Centro
681,Mecca,SA,78.22,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
684,Ibirite,BR,79.56,scattered clouds,-20.0219,-44.0589,Rua João Ferreira de Freitas

In [83]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [85]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))